[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible = "*"
flake8 = "==3.3.0"
pytest = "*"

[packages]
parsedatetime = "==2.4"
bs4 = "==0.0.1"
requests = "*"
croniter = "*"
Flask = "*"
Flask-RESTful = "*"
PyYAML = ">=5.4"
mock = "*"
jinja2 = ">=2.11.3"
recleagueparser = {editable = true,git = "https://github.com/gmfrasca/rec-league-parser"}
rsa = ">=4.1"
httplib2 = ">=0.19.0"

[requires]
python_version = "3.6"

[scripts]
psgroupme = "python -m psgroupme -l ./log/psgroupme.log"
